<!DOCTYPE html>
<html>
  <head>
    <title>BandCabin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type= "text/javascript">
      window.logo = "<%= image_url('bclogo.png')%>";
      window.gizzard = "<%= image_url('gizz.jpg')%>";
      window.weatherbox = "<%= image_url('weatherbox.jpg')%>";
      window.manman = "<%= image_url('manman.jpg')%>";
      window.mf = "<%= image_url('mf.jpg')%>";
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
